footer{
    background: var(--color-primary);
    padding: 40px;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
}

footer a{
    color: var(--color-bg);
}

.footer_logo{
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 30px;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin:0 auto 30px;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.footer_socials a{
    background-color: var(--color-bg);
    color: white;
    padding: 12px;
    border-radius: 10px;
display: flex;
border: 1px solid transparent;
transition: var(--transition);
}

.footer_socials a:hover{
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}

.footer_copy_right{
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer_copy_right a{
    color: var(--color-wite);
}



/* ========================= TABLET ========================= */
 @media screen and (max-width: 1024px) {
     footer { 
        margin-top: 80px;
         padding: 35px 25px; }
     }


     @media screen and (max-width: 700px) {

         footer { 
            padding: 35px 15px; 
            margin-top: 60px;
             font-size: 13px; }

}
     @media screen and (max-width: 600px) {
             .permalinks{
    flex-direction: column;
    gap: 20px;
}
     }